# Ignore Maven target directory
/target/
.mvn/wrapper/maven-wrapper.jar

# Spring Tool Suite (STS) files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Gradle build (if you ever switch)
build/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment config (optional)
/.env

HELP.md
