<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Employee</title>
</head>
<body>
    <h2>Add Employee</h2>
    <form th:action="@{/employees/v1/add}" method="post" th:object="${employee}">
        <label>Name:</label>
        <input type="text" th:field="*{name}" required/><br/>

        <label>Department:</label>
        <input type="text" th:field="*{department}" /><br/>

        <label>Salary:</label>
        <input type="number" step="0.01" th:field="*{salary}" /><br/>

        <label>Date of Joining:</label>
        <input type="date" th:field="*{date_of_joining}" /><br/>

        <button type="submit">Add</button>
    </form>
</body>
</html>